html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(/imagens/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    height: 50px;
}

.material-icons {
    color: white;
}

.material-icons:hover {
    cursor: pointer;
}

#btn-search {
    color: #d93d86;
    border: 1px solid #d93d86;
}

#btn-search:hover {
    background-color: #d93d86;
    color: #f2f2f2;
}

.board {
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.list-column {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 5px;
    vertical-align: top;
    white-space: nowrap;
    width: 280px;
    background-color: #93b3bfab;
    color: #fefefe;
    border-radius: 10px;
}

.list-title {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-item-name {
    display: flex;
    justify-content: space-between;
}

.list-title h2{
    font-size: 20px;
}

.client-name {
    font-size: 18px;
}

.list-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;
}

.list-item {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    background-color: #1c2326d8;
    color: #f2f2f2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    border-radius: 10px;
    border-left: 5px solid #4369d9;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #93b3bf, #4369d9, #93b3bf);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


footer {
    background-color: #222222;
	color: white;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}