.bg-header {
    background-color: #f2f2f231;
}

#logo-navbar {
    height: 50px;
}

.icon-large {
    font-size: 40px;
    margin-left: 20px;
}

.icon-small {
    font-size: 1rem;
}

.material-icons {
    color: white;
}

.material-icons:hover {
    cursor: pointer;
}

#btn-search {
    color: #d93d86;
    border: 1px solid #d93d86;
}

#btn-search:hover {
    background-color: #d93d86;
    color: #f2f2f2;
}
