.list-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: calc(100vh - 115px);
    margin: 0.25rem;
    vertical-align: top;
    white-space: nowrap;
    width: 280px;
}

.list-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f2f2f231;
    color: #f2f2f2;
    border-radius: 10px;
    width: 280px;
}

.button-transition {
    position: absolute;
    left: 255px;
    top: 55px;
    transition: all 0.5s ease;
    font-size: 1.25rem;
    opacity: 0;
}

.list-content:hover .button-transition {
    transform: translate(10px);
    opacity: 100;
}

.new-card {
    margin-top: 8px;
    transition: all ease-in-out 0.2s;   
}

.new-card a {
    text-decoration: none;
    color: #f2f2f2;
}

.new-card:hover {
    text-decoration: none;
    color: #f2f2f2;
}

.list-card {
    height: 100vh;
    box-sizing: border-box;
    margin-top: 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;
    overflow-y: auto;
}

.list-title-h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.total {
    color: #f2f2f2;
}

#newBusiness {
    margin-bottom: 0;
    margin-left: 10px;
}

.displayNone {
    display: none;
}