#qttActive {
    padding: 2px 8px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.4);
    background: rgba(255,255,255,.15);
}

.second-nav {
    height: 80px;
    padding: 1rem;
}

.d-flex p {
    margin-bottom: 0;
    margin-left: 5px;
}
